<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>billmateinvoice</name>
	<displayName><![CDATA[BillMate Invoice]]></displayName>
	<version><![CDATA[1.35.2]]></version>
	<description><![CDATA[Accepts invoice payments by BillMate]]></description>
	<author><![CDATA[Billmate AB]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete your settings?]]></confirmUninstall>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>